<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OwnIDCoreSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OwnIDCoreTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>OwnIDFlowsSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>OwnIDUISDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OwnIDCoreSDK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OwnIDCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OwnIDFlowsSDK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OwnIDFlowsSDKTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OwnIDUISDK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
